body {

    height: 100vh;
    background-color: #aaaadd;




}

.principal {

    display: flex;
    justify-content: center;
    max-height: 150vh;
    align-items: center;


}

.conteudos {

    padding: 20px;
    border: 1px solid;
    justify-content: center;


}

.paginas {

    text-align: center;
    padding: 12px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    border-radius: 10px;
    box-shadow: #000000 1px 2px 6px;
    margin: 10px;
    display: block;
    float: left;
    height: 5vh;
    width: 30vh;


}

.inserirNovo {

    text-decoration: none;
    color: #fff;
    background: #242acb;
    display: inline-block;
    padding: 5px;
    height: 20px;
    border-radius: 6px;
    text-shadow: 2px 2px 2px black;
}

.inserirNovo:hover {

    background-color: #5b9bd5;

}

#listaContatos {

    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-shadow: #000000 1px 2px 3px;
    clear: both;

}

.divTelefone {

    display: inline-block;

}


input {

    display: inline-block;
}

.divEmail2,
.divTelefone2 {

    display: none;

}

/* estilo tabela */
#tabela {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    box-shadow: #000000 1px 2px 6px;

}

#tabela th {

    background-color: #5b9bd5;
    color: #fff;

}

#tabela td,
#tabela th {
    text-align: center;
    padding: 12px;
    border: 1px solid #000000;

}

#tabela tr:nth-child(2n) {

    background-color: #bdd7ee;

}


#tabela tr {
    border: 1px solid #ddd;
    background-color: #ddebf7;
}

#tabela tr.header,
#tabela tr:hover {
    background-color: #6cace6;
}

#entradaSearch {

    padding: 12px;
    background-image: url('../images/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 12px 20px 12px 40px;
    width: 10%;
    box-shadow: #000000 1px 2px 6px;

}

#entradaSearch:focus {

    width: 24%;

}

.fa-trash,
.fa-pencil-square-o {

    color: black;
}

.fa-trash:visited,
.fa-pencil-square-o:visited {

    color: inherit;

}


.paginas:hover {

    background-color: #2377ec;

}

form input[type=text] {

    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    box-shadow: #000000 1px 2px 6px;
}

form input[type=submit] {


    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;

}

form input[type=submit]:hover {

    background: #ccc;

}

label {

    font-weight: bolder;

}

.home,
footer {

    text-align: center;

}

.home {

    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-shadow: #000000 1px 2px 3px;
    clear: both;

}

footer {

    font-weight: lighter;
    font-family: monospace;


}

footer a {

    color: #000000;
    text-decoration: none;

}

.fa-plus {
    color: green;

}

.fa-minus {
    color: red;

}

.formContainer {

    background-color: #aa99ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #000000;
}

.errosForm {

    background-color: #f3bebe;
    border-radius: 10px;
    color: red;
    font-weight: bolder;
    box-shadow: 1px 2px 8px red;
    padding: 5px;
    width: 93%;
    text-align: center;
    display: none;

}