html,
body {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    background-color: #b8b8e9;


}

.principal {

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;


}

.conteudos {

    padding: 5px;
    justify-content: center;
    align-self: center;


}

.paginas {

    background-color: #555;
    border-radius: 10px;
    box-shadow: #000000 1px 2px 6px;
    padding: 12px;
    margin: 10px;
    display: block;
    float: left;
    height: 5vh;
    width: 30vh;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 36px;

}

.paginas:hover {

    background-color: #2377ec;
    color: #f8f8ae;

}


.inserirNovo,
form input[type=submit] {

    border-radius: 6px;
    background: #242acb;
    box-shadow: #000000 1px 2px 3px;
    padding: 5px;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;

}

.inserirNovo {

    height: 2.5vh;
    display: inline-block;

}

.formContainer {

    background-color: #aa99ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #000000;
}

.errosForm {

    display: none;
    background-color: #f3bebe;
    border-radius: 10px;
    box-shadow: 1px 2px 8px red;
    width: 93%;
    padding: 5px;
    color: red;
    font-weight: bolder;
    text-align: center;

}

input {

    display: inline-block;
}

form input[type=submit] {


    width: 10vw;
    height: 5vh;
}

form input[type=text] {

    width: 96%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    box-shadow: #000000 1px 2px 6px;
}

form input[type=text]:hover {

    box-shadow: none;
}


.inserirNovo:hover,
form input[type=submit]:hover {

    background-color: #5b9bd5;
    box-shadow: #665 1px 2px 3px;
    cursor: pointer;
    border: none;

}

#entradaSearch {

    padding: 12px;
    background-image: url('../images/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 12px 20px 12px 40px;
    width: 10%;
    box-shadow: #000000 1px 2px 6px;

}

#entradaSearch:focus {

    width: 24%;

}

#entradaSearch:focus,
.inserirNovo:hover,
.paginas:hover,
form input[type=text]:hover,
form input[type=submit]:hover {

    transition: all linear 0.3s;

}

/* estilo tabela */
#tabela {

    border-collapse: separate;
    border-spacing: 0, .15em;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    box-shadow: #000000 1px 2px 6px;

}

#tabela th {

    color: #fff;
    background-color: #5b9bd5;


}

#tabela tr {

    background-color: #ddebf7;

}

#tabela tr:nth-child(2n) {

    background-color: #bdd7ee;

}


#tabela td,
#tabela th {

    text-align: center;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #888;

}


#tabela tr.header,
#tabela tr:hover {
    background-color: #6cace6;
}

#tabela tr:hover {

    color: #fff;

}

a {

    text-decoration: none;
    color: inherit;
}


.fa-trash:hover {

    color: #f00;

}

.fa-pencil-square-o:hover {

    color: #0f0;

}

.fa-trash:visited,
.fa-pencil-square-o:visited {

    color: inherit;

}


.divEmail2,
.divTelefone2 {

    display: none;

}




label {

    font-weight: bolder;

}

.home,
footer {

    text-align: center;

}



.home {

    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-shadow: #000000 1px 2px 3px;
    clear: both;

}

#listaContatos {

    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-shadow: #000000 1px 2px 3px;
    clear: both;

}


.fa-plus {
    color: green;

}

.fa-minus {
    color: red;

}

.fa-plus,
.fa-minus {

    cursor: pointer;
}


footer {

    font-weight: lighter;
    font-family: monospace;

}

footer a {

    color: #000000;
    text-decoration: none;

}